/* Tipo de archivo y la sección de este */
html, body {
  height: 100%;
  width: 100%;
  font-style: 'italic';
/* Para hacer fondos con degradados */
  background: green;
  background: linear-gradient();
}
footer {
  background-color: aqua;
  color: black;
}
/* para aplicar a un section en html */
/* Las , permiten más de una zona */
/* el # es para las referencias de los ids */
#acerca_de, #parrafo1 {
  font-family: 'Times New Roman', Times, serif;
}
/* El > sirve para decir que aplique el formato a aquello que este dentro de esto */
/* El . es para las referencias de las clases*/
section#acerca_de > .parrafo1 {
  color: yellowgreen;
}
html, h1 {
  size: "8px"
}
html, h2 {
  size: "12px"
}
html, h3 {
  size: "10px"
}
html, h4 {
  size: "6px"
}